:root {
    --bg_bgc: #0005;
    --size-timeline: 1em;
    --color-timeline:#e98024;
    --acolor-timeline:#e9802455;
    --color-base-timeline:#e4e4e4;
}
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf{
    display:none!important;
}
.barspinner {
    background-color: #0009;
    position: fixed;
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 99 !important;
    /*cor de fundo loading... pelicula*/
}

.ui-dialog {
    z-index: 5000
}

/* fundo */
html {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto 30%;
    background-position: top+65px right+3%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*barra de rolagem*/
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: #888888;

}

*::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    border-radius: 100px;
    background-color: #363646;
    background-clip: content-box;
}

body {
    background: transparent;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.ui-dialog {
    background-color: #fff;
}

.ui-dialog-titlebar {
    padding: .5em;
    display: flex;
}

.icon-close::before {
    content: 'x';
}

.ui-dialog-buttonset {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: .5rem;
    padding: 0.375rem 0.75rem;
}

.ui-widget-content button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ui-widget-content button.icon-close {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.25rem 0.5rem;
    margin-left: auto;
    font-size: .875rem;
    border-radius: 0.2rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.cq-chart-control-bottom .cq-chart-controls .ciq-menu .cq-menu-dropdown.cq-menu-dropdown-enter-done,
.cq-chart-control-bottom .cq-chart-controls .ciq-menu .cq-menu-dropdown.cq-menu-dropdown-enter-active {
    transform: translateX(-40%) translateY(0em);
}

.ciq-list .ciq-list-item {
    font-size: 0.8em;
}

.cq-categorical-display .cq-item,
.cq-categorical-display .cq-active-item,
.cq-categorical-display .empty-category,
.cq-categorical-display .cq-filter,
.cq-categorical-display .cq-lookup-input>input,
.cq-categorical-display .category-title,
.cq-categorical-display .empty-category {
    font-size: 0.8em;
}

.cq-categorical-display .category-title {
    font-weight: bold;
}

.cq-categorical-display .empty-category {
    padding: 0 0.8em 0.8em;
}

.cq-categorical-display .category.category-has-subtitle {
    padding-top: 4em;
}

.market-analizer .worm-record::after {
    position: absolute;
    content: "Deriv Chart";
    left: 0px;
    top: -13px;
    background-color: #aaa;
    padding: 0 3px;
    color: #fff;
    font-size: 10px;
    border-left: 9px solid #fff;
    border-radius: 5px;
}

.market-analizer .worm-record {
    position: relative;
    padding: 15px 5px 8px 5px;
    height: 25px;
    display: flex;
}

.canvasjs-chart-credit {
    display: none;
}

.market-analizer .worm-record span {
    padding: 2px 0 0 0;
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    font-size: 0px;
    border-radius: 2px;
    color: #fff;
    margin: 0 2px;
}

.market-analizer .digit-record {
    position: relative;
    padding: 5px 5px 8px 5px;
    display: flex;
    height: 38px;
    z-index: 10;
}

.market-analizer .digit-record::after {
    position: absolute;
    content: "Deriv Chart";
    left: 0px;
    top: 110px;
    background-color: #aaa;
    padding: 0 3px;
    color: #fff;
    font-size: 10px;
    border-left: 9px solid #fff;
    border-radius: 5px;
}

.market-analizer .digit-record span {
    padding: 2px 0;
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    color: #fff;
    margin: 0 2px;
    font-weight: bold;
}

.market-analizer .tick-color-red {
    background-color: #ff3300;
}

.market-analizer .tick-color-blue {
    background-color: #00abe2;
}

.market-analizer .tick-color-green {
    background-color: #00cd32;
}

.market-analizer .tick-color-gray {
    background-color: #999999;
}

/* div[aria-describedby=chart-dialog-component]{
    position: static!important;
    width: 100%!important;
    height: 100vh!important;
background-color: var(--bg_bgc)!important;
backdrop-filter: blur(20px);
overflow: hidden;
display: flex;
flex-direction: column;
} */
#chart-dialog-component,
#canvasjs-react-chart-container-0,
.canvasjs-chart-container,
.market-analizer {
    
    display: flex;
    flex-direction: column;

}

/* .canvasjs-chart-canvas{
    position: relative!important;
    height: 100%!important;
} */
.canvasjs-chart-canvas:nth-child(2) {
    position: absolute !important;
    left: 0px !important;
}
.ui-dialog{position: absolute!important;max-width: 95vw;}
/*barra de rolagem*/
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: #888888;

}

*::-webkit-scrollbar-thumb {
    border: 0px solid transparent;
    /*border-radius: 100px;*/
    background-color: #363646;
    background-clip: content-box;
}

/*fim barra*/
html{
    min-height: 100%
}

* {
    user-select: none;
}

.selbots{
    backdrop-filter: blur(20px);
}

.operacional{
    background-color: var(--bg_bgc);
    backdrop-filter: blur(20px);
}

.blockbot .img{
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1 auto;
    color:transparent;
    width: auto!important;
   
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-background-composite: #fff;
    -webkit-background-clip: text;
}

.timeline {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content:center;
    justify-content: space-between;
    height: var(--size-timeline);
    margin: .5em 2.5em;
}

.timeline .line {
    position: absolute;
    margin-left: calc(var(--size-timeline) / 2);
    height: calc(var(--size-timeline) / 4);
    border-radius: var(--size-timeline);
    background-color: var(--color-timeline);
    z-index: -1;
}

.timeline .line.base{
    background-color: silver;
    width:calc(100% - var(--size-timeline));
}

.timeline.inicio .line:not(.base) {
    width: 0%;
}


.timeline.meio .line:not(.base) {
    width: calc(50% - calc(var(--size-timeline)/ 2));
    transition: all 0.5s;
}

.timeline.fim .line:not(.base) {
    width: calc(100% - var(--size-timeline));
    transition: all 0.5s;
}
.timeline .point {
    position: relative;
    width: var(--size-timeline);
    height: var(--size-timeline);
    position: relative;
    border-radius: var(--size-timeline);
    background-color: var(--color-base-timeline);
    animation-iteration-count: infinite;
    animation-duration: .8s;
}
.timeline.inicio .point:nth-child(3),
.timeline.meio .point:nth-child(3),
.timeline.meio .point:nth-child(4),
.timeline.fim .point{
    background-color: #fff!important;
    border: calc(var(--size-timeline) / 4) solid var(--color-timeline)!important;
}
.timeline.inicio .point:nth-child(3),
.timeline.meio .point:nth-child(4),
.timeline.fim .point:nth-child(5){
   animation-name: point;
    animation-fill-mode: both;
}
.timeline.inicio .point:nth-child(3)::after,
.timeline.meio .point:nth-child(4)::after,
.timeline.fim .point:nth-child(5)::after{
    display: block;
    animation-name: nav;
    animation-fill-mode: both;
}
.legends{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    align-content:center;
    justify-content: space-between;
    width: 100%;
    color: #fff;
}
.legends small{
    font-size: 9pt;
    text-align: center;
    width: 8.20em;
}
.table-responsive{
    max-height: 40vh!important;
}
.table-sm *{
    font-size: 10pt;
}
.table-sm td{
    padding-bottom: 0;
    font-weight: 200;
}
.container-balance{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #111;
    background-color: rgb(33,37,41);
    align-items: center;
    display: flex;
    box-shadow: 4px 2px 8px 1px rgb(0 0 0 / 15%);
}
.container-balance div:nth-child(1){
    width: 50%;
}
td.text-danger{
    color:#ff3535!important;
}
td.text-success{
    color: #35ff35!important;
}

.container-balance div:nth-child(2){
    width: 50%;
    background-color: rgb(20 20 35 / 85%);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}
#areablocks{
    width: 100vw;
}
#server-status span{
    display: inline-block;
    width: .5em;
    height: .5em;
    border-radius: 100%;
}

#server-status .online{
    background-color: #35d035
}
#server-status .connecting{
    background-color:#ffcc35
}
#server-status .offline{
    background-color:#d03535
}
.notifyjs-corner{
    display: none;
}

.table>:not(:first-child) {
    border: 1px solid transparent!important;
}

@keyframes point{
    0% {
        box-shadow: 0 0 0 calc(0 * var(--size-timeline)) var(--acolor-timeline);
    }
    25% {
        box-shadow: 0 0 0 calc(0.35 * var(--size-timeline)) var(--acolor-timeline);
    }
    100% {
        box-shadow: 0 0 0 calc(0 * var(--size-timeline)) var(--acolor-timeline);
    }
}
